---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav class='flex justify-between bg-red-300 h-20'>
      <div class='flex whitespace-nowrap justify-center items-center'>
        <img src='/koalalogo.svg' alt='' class='w-full h-full object-cover' />
        <p>Koala Psychology Services</p>
      </div>
      <div class='flex'>
        <ul class='flex justify-center items-center gap-2 mx-2'>
          <li>The Team</li>
          <li>Services</li>
          <li>Location</li>
          <li>Fees</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </nav>
    <section>Koala Psychology Services</section>
    <section>
      <h2>The Team</h2>
    </section>
    <section>
      <h2>Services</h2>
    </section>
    <section>
      <h2>Location</h2>
    </section>
    <section>
      <h2>Fees</h2>
    </section>
    <section>
      <h2>Contact Us</h2>
    </section>
  </body>
</html>
