---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav class='flex justify-between bg-red-300 h-20'>
      <div class='flex whitespace-nowrap justify-center items-center'>
        <img src='/koalalogo.svg' alt='' class='w-full h-full object-cover' />
        <p>Koala Psychology Services</p>
      </div>
      <div class='flex'>
        <ul class='flex justify-center items-center gap-2 mx-2'>
          <li>The Team</li>
          <li>Services</li>
          <li>Location</li>
          <li>Fees</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </nav>
    <section>Koala Psychology Services</section>
    <section class='w-3/4 mx-auto bg-blue-300'>
      <h2 class='font-bold text-2xl'>The Team</h2>

      <h3 class='font-bold text-gray-500 text-xl'>Rosy (Charnjit) Bola</h3>
      <p>
        Rosy (Charnjit) Bola is a Consultant Clinical Psychologist specialising
        in working with children, young people and their families. She is the
        Clinical Director of Koala Psychology Services.
      </p>
      <p>
        Rosy also works in the NHS within their Child and Adolescent Mental
        Health Services (CAMHS) providing psychological interventions for
        children and young people with emotional and behavioural concerns,
        learning difficulties, as well as neurodevelopmental disorders like
        Autistic Spectrum Disorder and Attention Deficit Hyperactivity Disorder
        (ADHD).
      </p>
      <p>
        She completed her clinical psychology training in Australia and has
        worked in both Australia (Sydney and Canberra), and the UK, with her
        clinical experience spanning over 16 years. Rosy has a special interest
        in working with children and young people with neurodevelopmental
        disorders like Autistic Spectrum Disorder. This includes assessment,
        post diagnostic support to the individual and their families, as well as
        offering support and training to schools and NHS staff on how to work
        more effectively with young people with Autistic Spectrum Disorder.
      </p>
      <p>
        In addition to her clinical psychology training, Rosy has undertaken a
        range of additional training courses and interventions including
        specialist Autistic Spectrum Disorder assessment and ADHD assessment,
        parenting programmes, Trauma-Focused CBT, as well as supporting parents
        with Education, Health and Care Plans (EHCP) within schools and local
        authority. She believes working in a holistic manner with children and
        young people, liaising with the wider network like schools as well as
        establishing rapport as key factors to successful therapeutic outcomes.
      </p>
      <p>
        Rosy is a representative of the Sikh Human Rights Group, which is ‘an
        NGO with UN ECOSOC status promoting pluralism, environment, diversity,
        human rights and responsibilities. It is based on Sikh philosophy.’ She
        works in the capacity as a Clinical Psychologist establishing a network
        of support for children and adults with lifelong neurological conditions
        (such as Autistic Spectrum Disorder and ADHD) within the Sikh community.
        Rosy has helped establish weekly, fortnightly, and monthly Special
        Educational Needs and Disability (SEND) events across West London and
        the Midlands. For example, parent and carer support group sessions, art
        workshop, SEND after school club, parent and carer tea morning events,
        and most recently the West London SEND Football Club in association with
        Middlesex FA. She offers consultation to parents and carers regarding
        their child’s special educational needs, signposting and liaising with
        relevant professionals like Occupational Therapist, Paediatrics and
        Psychiatry, as well as the school and local authority.
      </p>
      <p>
        Rosy is registered as a Clinical Psychologist with the Health & Care
        Professions Council (HCPC) and is a member of ACAMH. Within the British
        Psychological Society (BPS), she is also a Chartered Clinical
        Psychologist and a member of the Division of Clinical Psychology.
      </p>
      <p>
        She is fluent in English, and can offer a service in conversational
        Punjabi, Hindi and Urdu.
      </p>
    </section>
    <section class='w-3/4 mx-auto bg-green-300'>
      <h2 class='font-bold text-2xl'>Services</h2>
      <div>
        <h3>Child and Adolescent Therapy</h3>
        <ul>
          <ul>
            <li>ADHD</li>
            <li>Anger management</li>
            <li>Anxiety</li>
            <li>Autistic Spectrum Disorder / Autism</li>
            <li>Behavioural concerns</li>
            <li>Depression</li>
            <li>Emotional Regulation</li>
            <li>Grief and Loss</li>
            <li>Protective Behaviours</li>
            <li>Relationships</li>
            <li>Self-Harm</li>
            <li>Social Communication</li>
            <li>Sleep</li>
            <li>Stress</li>
          </ul>
        </ul>
      </div>
      <div>
        <h3>Individual Support for Parents and Carers</h3>
        <ul>
          <li>Parenting</li>
          <li>Education, Health and Care Plans (EHCP)</li>
          <li>Child Development</li>
        </ul>
      </div>
      <div>
        <h3>Neurodevelopmental Assessments</h3>
        <ul>
          <li>Autistic Spectrum Disorder Assessments</li>
          <li>ADHD Assessments</li>
        </ul>
      </div>
      <div>
        <h3>Group Therapy / Individual Workshops</h3>
        <ul>
          <li>Autistic Spectrum Disorder: Post Diagnosis Support</li>
          <li>ADHD: Post Diagnostic Support</li>
          <li>Training and Consultation to organisations including schools</li>
        </ul>
      </div>
    </section>
    <section>
      <h2>Location</h2>
      <p>
        Therapy sessions are held face-to-face at our clinic in West London or
        online via a secure online video platform.
      </p>
      <p>OR</p>
      <p>
        All sessions can take place remotely via video conferencing or in a
        face-to-face session.
      </p>
      <p>Clinics are based in West London.</p>
    </section>
    <section class='w-3/4 mx-auto bg-red-300'>
      <h2>Fees</h2>
      <div class=''>
        <h3>Clinical Psychology Fees</h3>
        <p>Initial assessment / consultation 60 – 90 minutes = £225</p>
        <p>Therapy session 50 minutes = £150</p>
        <p>
          Screening appointment for neurodevelopmental concerns 50 minutes =
          £250.
        </p>
        <p>If a report is needed, this will be charged separately.</p>
        <p>Evening supplement (evening is 5pm onwards) - £15</p>
        <p>Weekend supplement (all weekend appointments) - £20</p>
      </div>
      <div class=''>
        <h3>Group Therapy / Individual Workshop Fees</h3>
        <p>
          Autistic Spectrum Disorder: Post Diagnostic Support 3 sessions online
          = £150
        </p>
        <p>ADHD: Post Diagnostic Support 1 session online = £50</p>
        <p>
          Training and Consultation to organisations including schools = please
          get in touch to discuss your needs.
        </p>
      </div>
      <div class=''>
        <h3>Assessment Fees</h3>
        <p>For neurodevelopmental assessment costs = please get in touch.</p>
      </div>
      <div>
        <h3>Cancellations</h3>
        <p>
          If you need to cancel or reschedule an appointment, please give us at
          least 24-hours’ notice. Unfortunately, if this is not given, the usual
          full fee will be charged. Your therapist reserves a special time for
          you every week until you end therapy. Private health insurance cannot
          be accessed for these appointments.
        </p>
        <p>
          We strictly adhere to this cancellation policy out of respect to our
          psychologists and clients.
        </p>
        <p>
          To avoid the inevitable long delays whilst using insurance for
          assessments, please self-pay up front to secure your appointments. We
          will provide receipts and insurance companies do then reimburse.
        </p>
      </div>
    </section>
    <section>
      <h2>Contact Us</h2>
    </section>
  </body>
</html>
